:root {
  --main-body-bg-color: #320033;
  --main-component-bg-color: white;
  --hover-bg-color: #FFED23;

  --main-font-color: #320033;
}

body {
  background-color: var(--main-body-bg-color);
  color: var(--main-font-color);
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 9vh;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 25vh;
  border: 1px solid white;
  border-radius: 5%;
}

form input {
  font-size: 1rem;
  font-weight: 700;
  text-decoration: none;
  background-color: var(--main-component-bg-color);
  color: var(--main-font-color);
  width: 90%;
  height: 4vh;
  border: none;
  border-radius: 5%;
  margin: 1vmin;
}

form input::placeholder {
  color: var(--main-font-color);
  opacity: 0.5;
  font-weight: thin;
}

form input[type="submit"] {
  width: 15vw;
  background-color: var(--main-component-bg-color);
  font-weight: bold;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin-right: 3vw;
  column-gap: 2vw;
}

nav ul button {
  background-color: var(--main-component-bg-color);
  color: var(--main-bg-color);
  border: none;
  border-radius: 5%;
  text-decoration: none;
  font-weight: bold;
  width: 10vw;
  height: 4vh;
}

article.game-entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article.game-entry img {
  height: 50vh;
  width: 80vw;
  object-fit: cover;
  border: 1px solid white;
}

article.game-entry div.button-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  place-items: center;
  margin-top: 2vh;
}

article.game-entry div.button-group button {
  height: 10vh;
  width: 20vw;
  font-size: 2em;
  font-weight: bold;
  color: var(--main-body-bg-color);
}

article.game-entry div.button-group button:hover {
  background-color: var(--hover-bg-color);
}












